#!/usr/bin/env python

'''
unit tests for ???
'''

#from SmileTrain.test import fake_fh
import unittest
#from SmileTrain import ???

class TestFunctionName(unittest.TestCase):
    def test_correct(self):
        '''make sure the function provides the correct output'''
        pass
    
    def test_raise(self):
        '''make sure the function raises an error when appropriate'''
        pass


if __name__ == '__main__':
    unittest.main(verbosity=2)
