[User]
username=user
cluster=coyote
tmp_directory=/net/radiodurans/alm/user/tmp
usearch=/net/radiodurans/alm/swo/bin/usearch
queue=speedy

[Scripts]
library=/net/radiodurans/alm/user/lib/SmileTrain
bashrc=/net/radiodurans/alm/user/lib/SmileTrain/bashrcs/coyote.sh

[Data]
greengenes=/net/radiodurans/alm/lab/db/gg_13_5/gg_13_8_otus/rep_set
greengenes_taxonomy=/net/radiodurans/alm/lab/db/gg_13_5/pickles/gg_13_5_taxonomy.pkl
gold=/net/radiodurans/alm/lab/db/gold/gold.fasta
