[User]
username=user
cluster=zcluster
tmp_directory=/home/PIlab/user/tmp
usearch=/usr/local/usearch/latest/usearch
queue=rcc-30d

[Scripts]
library=/home/PIlab/user/lib/SmileTrain
bashrc=/home/PIlab/user/lib/SmileTrain/bashrcs/zcluster.sh

[Data]
greengenes=/path/to/gg_13_5_otus/rep_set
greengenes_taxonomy=/path/to/gg_13_5_otus/taxonomy/taxonomy.pkl
gold=/path/to/gold.fasta

[dbOTU]
alignref=/path/to/silva.bacteria.m45.25434.11887.m668.filter.fasta
perllib=/path/to/dbOTUcaller/perllib
caller=/path/to/dbOTUcaller/dbOTUcaller.py
mothur=/usr/local/mothur/latest/mothur
